<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>初めてのFlaskウェブアプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
<header>
    <div class="container">
        <div class="header-left">
            <h1>初めてのFlaskウェブアプリ</h1>
        </div>
        <div class="header-right">
            <a href="#" class="login">ログイン</a>
        </div>
    </div>

</header>
<div class="top_wrapper">
    <div class="container">
        <h1>キャッチフレーズ</h1>
    </div>
    <div class="button">
        <a href="#" class="btn gate">
            掲示板に行ってみる
        </a>
    </div>
</div>
</body>
</html>